.new { color: Teal; background-color: #FFFF00; }
.deleted { color: red; background-color: #FFFF00; text-decoration: line-through; }

@font-face {
    font-family: 'SmallCaps';
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
    src: url(../Fonts/Fontin-SmallCaps.otf);
}

.indent {
    margin-left: 1em;
}

.nodisplay {
    display: none;
}

div.coverimage {
    text-align: center;
}

div.image {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

div.rights {
    text-align: center;
    margin-top: 4em;
}

div.tip {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    border-width: 1px;
}

div.toolbar {
    margin-top: 2em;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'SmallCaps', sans-serif;
    font-size: 2em;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
}

h2 {
    font-family: 'SmallCaps', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin-top: 0.0em;
    margin-bottom: 0.7em;
}

h3 {
    font-family: 'SmallCaps', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    font-variant: small-caps;
    text-align: left;
    margin-top: 1.7em;
    margin-bottom: 0.5em;
}

h4 {
    font-family: 'SmallCaps', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

hr.narrow {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 25%;
    text-align: center;
    border-bottom: solid 2px #000; 
}

li {
    text-align: left;
}

li.first {
    margin-top: 1em;
}

p {
    margin-bottom: 1em;
}

p.author {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}

p.h1subheading {
    font-family: 'SmallCaps', sans-serif;
    font-size: 1.2em;
    font-variant: small-caps;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

p.h2subheading {
    font-family: 'SmallCaps', sans-serif;
    font-size: 1.0em;
    font-variant: small-caps;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

p.heading {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

p.tiptext {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 0.9em;
}

p.title {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

p.version {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

pre.example {
    font-family: courier, sans-serif;
    font-size: 0.85em;
    margin-left: 2em;
    margin-bottom: 1.5em;
    background-color: rgb(244, 244, 244);
}

span.buttonbox {
    border-width: 1px;
    border-style: solid;
    border-color: #777777;
    font-family: monotype, sans-serif;
    font-weight: bold;
    font-size: 0.85em;
}

span.example {
    font-family: courier, sans-serif;
    font-size: 0.85em;
}

span.listheading {
    font-weight: bold;
}

span.menuitem {
    font-family: monotype, courier, sans-serif;
    font-size: .9em;
}

span.shortcut {
    font-family: monotype, courier, sans-serif;
    font-size: .9em;
}